[data-label="R-Nav Page"] {
  left:1277px!important
}

[data-label="DP-Live-Agent"],[data-label="DP-Live-Header"], [data-label="DP-Save-Rnav"] {
  left:1281px
}

[data-label="TF-Live-OfficeLocation"] input {
  cursor: pointer!important
}
