[data-label="No-Hover"] {
  pointer-events: none;
}

.marker {
  background-image: url('https://i.imgur.com/gbUQhrY.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
